body {
  background-color: gray;
  background-image: url(/assets/space.jpg);
	font-family: 'Play', sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C1FAFF;
}

.title{
  color: aquamarine;
  font-size: 60px;
}

section.board {
  color: white;
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

.square{
  color: white;
  border: solid #E6F4F1;
  background-color: #73ACBE;
}

#message{
  font-size: 40px;
}

.button-styling{
  margin: 20px;
  background-color: #73ACBE;
  size: 40px;
}

.reset-button{
  background-color: #73ACBE;
  color: white;
  font-size: 30px;
}

.btn{
  size: 500px;
}